<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />

		<link rel='stylesheet' href='../css/contract/header.css' />
		<link rel='stylesheet' href='../css/contract/main.css' />

		<title>Трудовой договор</title>
	</head>

	<body class='body'>
		<div class='wrapper'>
			<main>
				<h1>ТРУДОВОЙ ДОГОВОР</h1>
				<div class='flex'>
					<span>г. {{currentYear}}</span>
					<span>«{{currentDay}}» {{currentMonth}} {{currentYear}} г.</span>
				</div>
				<br /><br /><br />
				<span>{{organization_name}} в лице</span>
				<span>{{employee_full_name}}, действующего на основании</span>
				<span>Устава, именуемый в дальнейшем
					<span class='bold'>«Работодатель»</span>, с одной стороны, и гр.</span>
				<span>{{employee_full_name}}, паспорт: серия
					{{passport_series}}, №
					{{passport_number}}, выданный
					{{passport_issued_by}}, проживающий по адресу:
					{{employee_address}}, именуемый в дальнейшем
					<span class='bold'>«Работник»</span>, с другой стороны, именуемые в дальнейшем «Стороны», заключили настоящий
					договор, в дальнейшем
					<span class='bold'>«Договор»</span>, о нижеследующем:
				</span>
				<h2>1. ПРЕДМЕТ ТРУДОВОГО ДОГОВОРА</h2>
				<p>1.1. Работник принимается к Работодателю для выполнения работы в должности </p>
				<p>{{position}} в {{department}}.</p>
				<p>1.2. Работник обязан приступить к работе с «{{start_day}}» {{start_month}} {{start_year}} г.</p>
				<p>1.3. Настоящий трудовой договор вступает в силу с момента подписания его обеими сторонами и заключен на
					неопределенный срок.</p>
				<p>1.4. Работа по настоящему договору является для Работника основной.</p>
				<p>1.5. Местом работы Работника является офис в г. Чебоксары по адресу:
					{{workplace_address}}.</p>
				<h2>2. ПРАВА И ОБЯЗАННОСТИ СТОРОН</h2>
				<p>2.1. Работник подчиняется непосредственно Генеральному директору.</p>
				<p>2.2. Работник обязан:</p>
				<p>2.2.1. Выполнять следующие должностные обязанности: {{job_duties}}.</p>
				<p>2.2.2. Соблюдать установленные Работодателем Правила внутреннего трудового распорядка, производственную и
					финансовую дисциплину, добросовестно относиться к исполнению своих должностных обязанностей, указанных в
					п.2.2.1. настоящего трудового договора.</p>
				<p>2.2.3. Беречь имущество Работодателя, соблюдать конфиденциальность, не разглашать информацию и сведения,
					являющиеся коммерческой тайной Работодателя.</p>
				<p>2.2.4. Не давать интервью, не проводить встречи и переговоры, касающиеся деятельности Работодателя, без
					разрешения его руководства.</p>
				<p>2.2.5. Соблюдать требования охраны труда, техники безопасности и производственной санитарии.</p>
				<p>2.2.6. Способствовать созданию на работе благоприятного делового и морального климата.</p>
				<p>2.3. Работодатель обязуется:</p>
				<p>2.3.1. Предоставить Работнику работу в соответствии с условиями настоящего трудового договора. Работодатель
					вправе требовать от Работника выполнения обязанностей (работ), не обусловленных настоящим трудовым договором,
					только в случаях, предусмотренных законодательством о труде РФ.</p>
				<p>2.3.2. Обеспечить безопасные условия работы в соответствии с требованиями Правил техники безопасности и
					законодательства о труде РФ.</p>
				<p>2.3.3. Оплачивать труд Работника в размере, установленном в п.3.1. настоящего трудового договора.</p>
				<p>2.3.4. Выплачивать премии, вознаграждения в порядке и на условиях, установленных Работодателем, оказывать
					материальную помощь с учетом оценки личного трудового участия Работника в работе Работодателя в порядке,
					установленном Положением об оплате труда и иными локальными актами Работодателя.</p>
				<p>2.3.5. Осуществлять обязательное социальное страхование Работника в соответствии с действующим
					законодательством РФ.</p>
				<p>2.3.6. Оплачивать в случае производственной необходимости в целях повышения квалификации Работника его
					обучение.</p>
				<p>2.3.7. Ознакомить Работника с требованиями охраны труда и Правилами внутреннего трудового распорядка.</p>
				<p>2.4. Работник имеет следующие права: </p>
				<ul>
					<li>право на предоставление ему работы, указанной в п.1.1. настоящего трудового договора;</li>
					<li>право на своевременную и в полном размере выплату заработной платы;</li>
					<li>право на отдых в соответствии с условиями настоящего трудового договора и требованиями законодательства;</li>
					<li>иные права, предоставленные работникам Трудовым кодексом РФ.</li>
				</ul>
				<p>2.5. Работодатель имеет право: </p>
				<ul>
					<li>поощрять Работника в порядке и размерах, предусмотренных настоящим трудовым договором, коллективным
						договором, а также условиями законодательства РФ;</li>
					<li>привлекать Работника к дисциплинарной и материальной ответственности в случаях, предусмотренных
						законодательством РФ;</li>
					<li>осуществлять иные права, предоставленные ему Трудовым кодексом РФ.</li>
				</ul>
				<h2>3. УСЛОВИЯ ОПЛАТЫ ТРУДА РАБОТНИКА</h2>
				<p>3.1. За выполнение трудовых обязанностей Работнику устанавливается должностной оклад в размере
					{{salary}}
					рублей в месяц.</p>
				<p>3.2. При выполнении работ различной квалификации, совмещении профессий, работы за пределами нормальной
					продолжительности рабочего времени, в ночное время, выходные и нерабочие праздничные дни и др. Работнику
					производятся соответствующие доплаты:</p>
				<p>3.2.1. Работа в выходной и нерабочий праздничный день оплачивается в двойном размере.</p>
				<p>3.2.2. Работнику, выполняющему у одного и того же работодателя наряду со своей основной работой,
					обусловленной трудовым договором, дополнительную работу по другой профессии (должности) или исполняющему
					обязанности временно отсутствующего работника без освобождения от своей основной работы, производится доплата
					за совмещение профессий (должностей) или исполнение обязанностей временно отсутствующего работника в размере,
					определяемом дополнительным соглашением к настоящему договору.</p>
				<p>3.2.3. Сверхурочная работа оплачивается за первые два часа работы не менее чем в полуторном размере, за
					последующие часы – не менее чем в двойном размере. По желанию Работника сверхурочная работа вместо повышенной
					оплаты может компенсироваться предоставлением дополнительного времени отдыха, но не менее времени,
					отработанного сверхурочно.</p>
				<p>3.3. Время простоя по вине работодателя, если Работник в письменной форме предупредил работодателя о начале
					простоя, оплачивается в размере не менее двух третей средней заработной платы Работника. Время простоя по
					причинам, не зависящим от работодателя и Работника, если Работник в письменной форме предупредил работодателя
					о начале простоя, оплачивается в размере не менее двух третей тарифной ставки (оклада). Время простоя по вине
					Работника не оплачивается.</p>
				<p>3.4. Условия и размеры выплаты Обществом Работнику поощрений устанавливаются в коллективном трудовом
					договоре.</p>
				<p>3.5. Работодатель выплачивает заработную плату Работнику в соответствии с «Положением об оплате труда» в
					следующем порядке:
					{{payment_procedure}}.</p>
				<p>3.6. Из заработной платы Работника могут производиться удержания в случаях, предусмотренных законодательством
					РФ.</p>
				<h2>4. РЕЖИМ РАБОЧЕГО ВРЕМЕНИ И ВРЕМЕНИ ОТДЫХА</h2>
				<p>4.1. Работнику устанавливается пятидневная рабочая неделя продолжительностью 40 (сорок) часов. Выходными
					днями являются суббота и воскресенье.</p>
				<p>4.2. В течение рабочего дня Работнику устанавливается перерыв для отдыха и питания с 13:00 ч. до 14:00 ч.,
					который в рабочее время не включается.</p>
				<p>4.3. Труд Работника по должности, указанной п.1.1. договора, осуществляется в нормальных условиях.</p>
				<p>4.4. Работнику ежегодно предоставляется отпуск продолжительностью 28 календарных дней. Отпуск за первый год
					работы предоставляется по истечении шести месяцев непрерывной работы в Обществе. В случаях, предусмотренных
					трудовым законодательством, по просьбе Работника отпуск может быть предоставлен до истечения шести месяцев
					непрерывной работы в Обществе.Отпуск за второй и последующие годы работы может предоставляться в любое время
					рабочего года в соответствии с очередностью предоставления ежегодных оплачиваемых отпусков, установленной в
					данном Обществе.</p>
				<p>4.5. По семейным обстоятельствам и другим уважительным причинам Работнику по его заявлению может быть
					предоставлен кратковременный отпуск без сохранения заработной платы.</p>
				<h2>5. СОЦИАЛЬНОЕ СТРАХОВАНИЕ РАБОТНИКА</h2>
				<p>5.1. Работник подлежит социальному страхованию в порядке и на условиях, установленных действующим
					законодательством РФ.</p>
				<h2>6. ГАРАНТИИ И КОМПЕНСАЦИИ</h2>
				<p>6.1. На период действия настоящего договора на Работника распространяются все гарантии и компенсации,
					предусмотренные трудовым законодательством РФ, локальными актами Работодателя и настоящим договором.</p>
				<h2>7. ОТВЕТСТВЕННОСТЬ СТОРОН</h2>
				<p>7.1. В случае неисполнения или ненадлежащего исполнения Работником своих обязанностей, указанных в настоящем
					договоре, нарушения трудового законодательства, Правил внутреннего трудового распорядка Работодателя, иных
					локальных нормативных актов Работодателя, а также причинения Работодателю материального ущерба он несет
					дисциплинарную, материальную и иную ответственность согласно трудовому законодательству РФ.</p>
				<p>7.2. Работодатель несет перед Работником материальную и иную ответственность согласно действующему
					законодательству РФ.</p>
				<p>7.3. В случаях, предусмотренных в законе, Работодатель обязан компенсировать Работнику моральный вред,
					причиненный неправомерными действиями и(или) бездействием Работодателя.</p>
				<h2>8. ПРЕКРАЩЕНИЕ ДОГОВОРА</h2>
				<p>8.1. Настоящий трудовой договор может быть прекращен по основаниям, предусмотренным действующим трудовым
					законодательством РФ.</p>
				<p>8.2. Днем прекращения трудового договора во всех случаях является последний день работы Работника, за
					исключением случаев, когда Работник фактически не работал, но за ним сохранялось место работы (должность).</p>
				<h2>9. ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</h2>
				<p>9.1. Условия настоящего трудового договора носят конфиденциальный характер и разглашению не подлежат.</p>
				<p>9.2. Условия настоящего трудового договора имеют обязательную юридическую силу для сторон с момента его
					подписания сторонами. Все изменения и дополнения к настоящему трудовому договору оформляются двусторонним
					письменным соглашением.</p>
				<p>9.3. Споры между сторонами, возникающие при исполнении трудового договора, рассматриваются в порядке,
					установленном действующим законодательством РФ.</p>
				<p>9.4. Во всем остальном, что не предусмотрено настоящим трудовым договором, стороны руководствуются
					законодательством РФ, регулирующим трудовые отношения.</p>
				<p>9.5. Договор составлен в двух экземплярах, имеющих одинаковую юридическую силу, один из которых хранится у
					Работодателя, а другой - у Работника.</p>
				<h2>10. РЕКВИЗИТЫ СТОРОН</h2>
				<div class='flex'>
					<div class='flex-column'>
						<span class='small bold'>Работодатель</span>
						<span class='small'>Юр. адрес: {{employer_legal_address}}</span>
						<span class='small'>Почтовый адрес: {{employer_postal_address}} </span>
						<span class='small'>ИНН: {{employer_inn}}</span>
						<span class='small'>КПП: {{employer_kpp}}</span>
						<span class='small'>Банк: {{employer_bank}}</span>
						<span class='small'>Рас./счёт: {{employer_account}}</span>
						<span class='small'>Корр./счёт: {{employer_corr_account}}</span>
						<span class='small'>БИК: {{employer_bik}}</span>
					</div>
					<div class='flex-column'>
						<span class='small bold'>Работник</span>
						<span class='small'>Регистрация: {{employee_address}}</span>
						<span class='small'>Почтовый адрес: {{employee_address}}</span>
						<span class='small'>Паспорт серия: {{passport_series}}</span>
						<span class='small'>Номер: {{passport_number}}</span>
						<span class='small'>Выдан: {{passport_issued_by}}</span>
						<span class='small'>Телефон: {{employee_phone}}</span>
					</div>
				</div>
				<h2>11. ПОДПИСИ СТОРОН</h2>
				<div class='flex'>
					<span class='small'>Работодатель _______________</span>
					<span class='small'>Работник _______________</span>
				</div>
			</main>
		</div>
	</body>
</html>